@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
	height: 100%;
	--text-color: #222;
	box-sizing: border-box;
}


html {
	color: var(--text-color);
	background-attachment: fixed;
}

img {
	border-radius: 1rem;
}

